asgiref==3.11.0
attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cppyy==3.5.0
cryptography==46.0.3
docutils==0.22.3
filelock==3.20.0
fontTools==4.61.0
HTMLParser==0.0.2
importlib_metadata==8.7.0
ipython==9.8.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
mock==5.2.0
pandas==2.3.3
Pillow==12.0.0
protobuf==6.33.2
pymupdf_fonts==1.0.5
pyOpenSSL==25.3.0
python-dotenv==1.2.1
redis==7.1.0
Sphinx==9.0.4
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
watchdog==6.0.0
xmlrpclib==1.0.1
